/* Mise en forme du nav */
    
    body
    {
        background-color:#FFFFFF;
        font-family: "Raleway", Arial, Verdana, sans-serif;
        overflow-x: hidden;
        width: 100%;
    }

    header, section, .container-activities h3, nav>img
    {
        font-size: 1.3em;
    }

/*######################################################################################################################*/

    nav/*séparation du logo et du menu de navigation*/
    {
        font-family: "Raleway", Arial, Verdana, sans-serif;
        display: flex;
        color: #0065FC;
        align-items: flex-end;
        font-size: 0.7em;
    }

    nav img
    {
        width: 50%;
        height: 50%;
    }

    nav ul /*Mise en forme du menu de navigation*/
    {
        list-style-type: none;
        display: flex;
        font-weight: bolder;
        margin-left: auto;
        align-items: baseline;
    }

    nav a /*espacement menu de navigation*/
    {
        margin-right: 4em;
        text-decoration: none;
        color: #000000;
    }

    nav p /* mise en gras du bouton inscrire*/
    {
        font-weight: bold;
        padding-left: 1.5em;
    }

    nav p a
    {
        color: #0065FC;
    }

    nav ul>li:hover, nav ul>li:active, nav ul>li:focus /*mise en forme boutons hébergements et activités au clic*/
    {
        color:#0065FC;
        border-top-color: #0065FC;
    }

    nav ul>li
    {
        padding-top: 2em;
        border: 0.1em solid transparent;
        border-top-color: transparent;
        color: #000000;
        padding-left: 3.5em;
    }

    header h1
    {
        font-size: 1.2em;
    }

    header h2
    {
        font-size: 0.9em;
    }

    a.fas
    {
        font-family: "Raleway", Arial, Verdana, sans-serif;
    }

    h4
    {
        display: inline-flex;
    }

/* Fin de la mise en forme du nav */

/*######################################################################################################################*/

/* Mise en forme premier paragraphe et recherche */

    .marker /* Mise en forme bouton localisation*/
    {
        background-color: #f2f2f2;
        color: #000000;
        padding: 0.5em 0.7em;
        border-radius: 0.5em 0em 0em 0.5em;
    }

    input /*mise en forme du champ de saisie*/
    {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-style: solid;
        border-top-color: #f2f2f2;
        border-bottom-color: #f2f2f2;
        border-right-color: #FFFFFF;
        border-left-color: #FFFFFF;
        font-weight: bold;
    }

    .research input[name="city"]::placeholder {
        color:#000000;
        font-size: 1em;
      }

    .search /*mise en forme bouton rechercher*/
    {
        background-color: #0065FC;
        color: #FFFFFF;
        border-radius: 0em 0.5em 0.5em 0em;
        padding: 0.5em 0.8em;
        font-weight: bold;
    }

    .search-cell
    {
        display: none;
    }

    .research
    {
        margin-bottom: 2em;
        margin-top: 2em;
    }

/* Fin Mise en forme premier paragraphe et recherche */

/*######################################################################################################################*/

/* Mise en forme des filtres */

    a.fasbis
    {
        display: flex;
        align-items: center;
        border-radius: 1.5em 1.5em 1.5em 1.5em;
        border: solid #f2f2f2;
    }

    .filters
    {
        display: flex;
        margin-bottom: 1.5em;
        margin-left: 0em;
        align-items: baseline;
    }

    .filter-title
    {
        margin-bottom: initial;
        font-size: 1.1em;
    }

    .filter-item {
        margin-left: 1em;
    }

    .filter-icon {
        border-radius: 2.5em;
        height: 2.5em;
        width: 2.5em;
        background-color: #deebff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .filter-text {
        margin-right: 0.5em;
        margin-left: 0.5em;
        font-weight: bold;
        color:#000000;
    }

    a.fasbis:hover /* lien survolé */
    {
        background-color: #deebff;
    }

    .filter-text:hover
    {
        color: #0065FC;
    }

/* Mise en forme des icones et boutons du filtre */

    .fa-money-bill-wave:before, .fa-dog:before, .fa-heart:before, .fa-child:before
    {
        color: #0065FC;
    }

/* Fin Mise en forme des filtres */

/*######################################################################################################################*/

/* Mise en forme de la partie information */

    .fa-info-circle::before
    {
        font-size: 1.5em;
        margin-left: 0.5em;
        border-radius: 1em;
        background-color: #0065FC;
        color: #FFFFFF;
        margin-right: 1em;
    }

/* Fin Mise en forme de la partie information */

/*######################################################################################################################*/

    .thumbnails /* vignettes avec les photos */
    {
        height: 60%;
        box-shadow: 0.3em 0.3em 0.3em #6d6d6d;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-bottom: 1em;
        border: 0.1em solid #fffff1;
        background-color: #FFFFFF;
        border-radius: 1em;
        padding: 0.3em 0.3em 2.5em 0.3em;
    }

    .thumbnails img
    {
        width: 100%;
        height: 90%;
        border-radius: 1em 1em 0 0;
        object-fit: cover;
    }

/*######################################################################################################################*/

/* Mise en forme du container 1 - Hébergement et populaire */

    .container-accomodation
    {
        display: flex;
        margin-top: 2em;
    }

/* Mise en forme des étoiles*/
    .checked /*étoiles bleues*/
    {
        color: #0065FC;
    }
    .unchecked /*étoiles grises*/
    {
        color: #cfcfcf;
    }

    .fa-star
    {
        font-size: 0.8em;
    }
/* Fin Mise en forme des étoiles*/

    .container-accomodation p
    {
        margin-top: 1%;
        margin-bottom: 1%;
        color: #000000;
        font-size: 1.1em;
    }

    .container-accomodation .item-left .thumbnails p:nth-child(3)
    {
        font-size: 0.9em;
        margin-top: 3%;
        position: absolute;
        top: 75%;
    }

    a:link
    {
        text-decoration: none;
    }

    .container-accomodation h2
    {
        color: #000000;
    }

/* Mise en forme de la partie hébergement */

    .container-accomodation .item-left
    {
        flex-basis: 70%;
        background-color: #f2f2f2;
        border-radius: 1em 1em 0em 0em;
        padding-top: 3em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-right: 2.5em;
        margin-left: 1.5em;
    }

    .show /* Espace sous Afficher plus */
    {
        height: 4em;
    }
    
    #show-more /*Afficher plus */
    {
        font-size: 1.2em;
        margin-left: 1em;
        font-weight: bold;
        color: #000000;
    }

    .container-accomodation .item-left-item-up, .container-accomodation .item-left-item-down
    {
        display: flex;
    }

    .container-accomodation .item-left-item-up img, .container-accomodation .item-left-item-down img
    {
        height: 130%;
    }

    .container-accomodation .item-left-item-up a, .container-accomodation .item-left-item-down a
    {
        width: 110%;
        height: 13em;
        padding-bottom: 9%;
    }


    .container-accomodation .item-left-item-up .thumbnails, .container-accomodation .item-left-item-down .thumbnails
    {
        width: 90%;
        height: 8em;
        padding-bottom: 8em;
        position: relative;
    }

    .container-accomodation .item-left-item-up .thumbnails .star, .container-accomodation .item-left-item-down .thumbnails .star
    {
        position: absolute;
        bottom: 0;
        padding-bottom: 1%;
    }

/* Fin de la mise en forme de la partie hébergement */


/* Mise en forme de la partie populaire */

    .container-accomodation .item-pop
    {
        flex-basis: 25%;
        background-color: #f2f2f2;
        border-radius: 1em 1em 0em 0em;
        padding-top: 3em;
        padding-right: 1.5em;
        padding-left: 1.5em;
        margin-right: 1.5em;
    }

    .popular /* placement du titre et de son icône */
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .popular1
    {
        display: none;
    }

    .container-accomodation .item-pop .thumbnails .title-p + div
    {
        font-size: 0.9em;
        margin-top: 15%;
        position: absolute;
        top: 1%;
    }

    .container-accomodation .item-pop img
    {
        height: auto;
        object-fit: cover;
    }

    .container-accomodation .item-pop .thumbnails
    {
        position: relative;
    }

    .container-accomodation .item-pop .thumbnails .star
    {
        position: absolute;
        bottom: 0;
        padding-bottom: 1%;
    }

/* Fin Mise en forme de la partie populaire*/


/* vignettes contenants les photos dans populaire */

    .container-accomodation .item-pop .thumbnails
    {
        height: 11em;
        display: flex;
        padding: 0.3em;
        margin-bottom: 2em;
        padding-right: 10em;
    }

    .container-accomodation .item-pop img
    {
        border-radius: 1em 0em 0em 1em;
        margin-right: 1em;
        width: 75%;
    }

    .caption
    {
        min-width: 9em;
        color: #000000;
    }

    .container-accomodation .item-left .title-p, .container-accomodation .item-pop .title-p
    {
        font-weight: bold;
        position: relative;
    }

/* Fin vignettes contenants les photos */

/* Fin Mise en forme du container 1 - Hébergement et populaire */

/*######################################################################################################################*/

/* Mise en forme du container-activities - Activités */

    .container-activities
    {
        margin-top: 7em;
        margin-left: 1.5em;
    }
    
    .container-activities div
    {
        display: flex;

    }

    .container-activities p
    {
        color: #000000;
        font-weight: bold;
        font-size: 1.2em;
        padding-left: 0.7em;
    }

    .container-activities .thumbnails
    {
        height: 19em;
        box-shadow: 0.1em 0.3em 0.3em #6d6d6d;
    }

    .container-activities .item-big .thumbnails
    {
        height: 42em;
    }

    .container-activities .item-big .thumbnails img
    {
        height: 95%;
    }

    .container-activities .item-big, .container-activities .item-small
    {
        width: 25%;
    }

    .container-activities h3
    {
        color: #000000;
    }

    .container-activities .item-big .thumbnails, .container-activities .item-small .thumbnails
    {
        margin-right: 2em;
    }

/* Fin Mise en forme du container-activities - Activités */

/*######################################################################################################################*/

/* Mise en forme du footer */

    footer
    {
        background-color: #f2f2f2;
        width: 100%;
        margin-top: 3em;
        font-size: 1.1em;
        display: flex;
    }

    .container-footer p
    {
        line-height: 1.5em;
        font-size: 0.9em;
    }

    .container-footer a
    {
        text-decoration: none;
        color: #000000;
    }

    .first-item
    {
        width: 34%;
        margin-left: 3em;
    }

    .second-item, .third-item
    {
        width: 33%;
        margin-left: 3em;
    }

/* Fin mise en forme du footer */

/*######################################################################################################################*/

/* Media Queries */

/*######################################################################################################################*/

/* Media Queries - Téléphone - < ou = 991 px */

@media all and (max-width: 991px) {

    body
    {
        width: 100%;
    }
    
    nav ul>li:hover, nav ul>li:active, nav ul>li:focus /*mise en forme boutons hébergements et activités au clic*/
    {
        color:#0065FC;
        border: solid 0.2em transparent;
        border-bottom-color: #0065FC;
        padding-bottom: 1em;
        border-top-color: #FFFFFF;
    }

    nav ul p a
    {
        margin-right: 0.5em;
    }

    
    nav
    {
        width:100%;
        position: relative;
    }
    
    nav img
    {
        height:100%;
        width:100%;
    }
    
    
    nav ul li a
    {
        margin-right: 1em;
        font-size: 2.5em;
    }

    nav ul
    {
        position: absolute;
        width: 100%;
        top: 5em;
    }
    
    nav p
    {
        position:absolute;
        top: 0;
        right: 0;
        font-size: 2.3em;
    }

    nav p a
    {
        margin-right: 0em;
    }

    header h1
    {
        margin-top: 4em;
        font-size: 2.7em;
        text-align: center;
        margin-bottom: 1em;
    }

    header h2
    {
        text-align: center;
        font-size: 1em;
    }

    .research
    {
        font-size: 2em;
        text-align: center;
    }

    .search
    {
        display: none;
    }

    .search-cell
    {
        display: inline-flex;
        background-color: #0065FC;
        color: #FFFFFF;
        padding: 0.7em;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    a.btn.marker
    {
        padding: 0.65em;
    }

    .filters
    {
        flex-direction: column;
    }

    .filter-title
    {
        margin-left: 1.5em;
        margin-bottom: 1em;
        font-size: 2em;
    }

    a.fasbis
    {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .filters+div /* div juste après .filters*/
    {
        display: flex;
        align-items: baseline;
    }

    .fa-info-circle::before
    {
        font-size: 3em;
        margin-right: 0.5em;
    }

    h4
    {
        font-size: 2em;
    }
    
    .thumbnails
    {
        border: 0.5em solid #FFFFFF;
        border-radius: 2.5em;
    }
    
    .container-accomodation
    {
        flex-direction: column-reverse;
        margin-left: 1em;
    }
    
    .container-accomodation .item-pop img
    {
        width: 110%;
        object-fit: cover;
        border-radius : 2.5em 0em 0em 2.5em;
    }
    
    .container-accomodation .item-pop .title-p
    {
        font-size: 1.1em;
        width: 110%;
    }

    .container-accomodation .item-pop .thumbnails
    {
        height: 23em;
        padding-right: 60%;
    }
    
    .container-accomodation .item-pop
    {
        width: 95%;
        border-radius: 0em 0em 0em 0em;
        background-color: #f2f2f2;
        margin-block: -2em;
    }
    
    .caption
    {
        font-size: 2em;
        padding-left: 0.9em;
        
    }
    
    .popular1
    {
        display: flex;
        font-size: 2.5em;
        margin-top: 2em;
        justify-content: space-evenly;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 1em 1em 0em 0em;
        margin-left: 0.4em;
        width: 98.5%;
    }
    
    .popular
    {
        display: none;
    }
    
    .container-accomodation h2
    {
        font-size: 3.5em;
        margin-top: 2em;
    }

    .container-accomodation .item-left-item-up, .container-accomodation .item-left-item-down
    {
        display: block;
    }

    .container-accomodation .item-left .thumbnails
    {
        height: fit-content;
        width: 98%;
        margin-left: 0em;
    }

    .container-accomodation .item-left p, .container-accomodation .item-left .star
    {
        margin-left: 1.1em;
    }

    .container-accomodation .item-left
    {
        background: transparent;
    }

    .container-accomodation .item-left-item-up, .container-accomodation .item-left-item-down
    {
        flex-direction: column;
    }
    .container-accomodation .item-left-item-up .thumbnails .title-p, .container-accomodation .item-left-item-down .thumbnails .title-p
    {
        font-size: 2.1em;
    }

    .container-accomodation .item-left-item-up .thumbnails p:nth-child(3), .container-accomodation .item-left-item-down .thumbnails p:nth-child(3)
    {
        font-size: 2em;
    }

    .container-accomodation .item-left .thumbnails .star
    {
        font-size: 2em;
    }

    .container-accomodation .item-left img
    {
        height: 20em;
        border-radius: 2.5em 2.5em 0em 0em;
    }

    .container-accomodation .item-left-item-down a, .container-accomodation .item-left-item-up a
    {
        margin-right: 2.5em;
    }

    #show-more
    {
        font-size: 2em;
    }

    .container-activities h3
    {
        font-size: 3.5em;
    }
    .container-activities .item-big .thumbnails, .container-activities .item-small .thumbnails
    {
        width: 100%;
        height: 35em;
        padding-bottom: 0em;
        margin-bottom: 3em;
        margin-left: 2em;
    }

    .container-activities img
    {
        height: 20em;
        border-radius: 2.5em 2.5em 0em 0em;
    }

    .container-activities p
    {
        font-size: 2.5em;
        padding-top: 0.5em;
        margin-left: 1.1em;
    }

    .container-activities
    {
        flex-direction: column;
    }

    .container-activities .item-big, .container-activities .item-small
    {
        width: 90%;
    }
    
    .container-activities .item-big .thumbnails img, .container-activities .item-small .thumbnails img
    {
        height: 65%;
    }

    .container-footer
    {
        font-size: 2em;
        flex-direction: column;
        margin-left: -0.7em;
        padding-right: 2em;
        padding-bottom: 1em;
    }
    
    .container-footer p
    {
        width: max-content;
    }
    
    .container-footer h3
    {
        width: max-content;
    }
  }

/*######################################################################################################################*/

/* Media Queries - Tablette - < ou = 1199 px */


  @media all and (min-width:992px) and (max-width: 1199px) and (orientation: landscape) {

    nav
    {
        font-size: 1.1em;
        align-items: normal;
        position: relative;
    }

    nav img
    {
        width: auto;
    }

    nav ul
    {
        position: absolute;
        top: 30%;
    }

    nav ul>li
    {
        padding-top: 1.5em;
    }

    nav ul>li:hover, nav ul>li:active, nav ul>li:focus
    {
        color:#0065FC;
        border-bottom-color: #0065FC;
        border-top-color: transparent;
        padding-bottom: 1em;
    }

    nav p
    {
        position: absolute;
        right: 0;
        top: 0;
    }

    header h1
    {
        margin-top: 2em;
        font-size: 1.1em;
    }

    header h2
    {
        font-size: 0.9em;
    }

    .research
    {
        font-size: 0.8em;
    }
    
    .filters
    {
        font-size: 1.1em;
    }

    .filters+div
    {
        font-size: 0.8em;
    }

    .filter-title
    {
        font-size: 0.8em;
    }

    .filter-text
    {
        font-size: 0.8em;
    }

    .filter-icon
    {
        height: 1.5em;
        width: 1.5em;
    }

    .container-accomodation
    {
        flex-direction: column-reverse;
    }

    .popular1
    {
        display: flex;
        margin-top: 2em;
        align-items: center;
        justify-content: center;
    }

    .popular1 h2+i
    {
        margin-left: 1.5em;
    }

    .popular
    {
        display: none;
    }

    .container-accomodation
    {
        margin-top: 0%;
    }

    .container-accomodation .item-pop
    {
        background-color: transparent;
        display: flex;
        padding-left: 1%;
    }

    .container-accomodation .item-pop .thumbnails
    {
        padding-right: 9em;
    }

    .container-accomodation .item-left-item-up, .container-accomodation .item-left-item-down
    {
        justify-content: space-evenly;
    }

    .container-activities .item-big .thumbnails
    {
        height: 87%;
    }

    .container-activities .item-big .thumbnails p, .container-activities .item-small .thumbnails p
    {
        margin-top: 0.5em;
        font-size: 1.1em;
    }

    .container-activities .item-small .thumbnails
    {
        height: 11.5em;
    }

    .container-footer
    {
        min-height: 17.5em;
        background-color: #FFFFFF;
    }
  }


/*######################################################################################################################*/



/* Fin Media Queries */