*
{
    font-size: 1,3em;
    font-family: Raleway-Bold, Arial, Verdana, sans-serif;
    background-color: #FFFFFF;
}

a.Economique /* lien non survolé */
{
    text-decoration: none;
    color: #000000;
    transition: 2s ease-out;

}
a.Familial /* lien non survolé */
{
    text-decoration: none;
    color: #000000;
    transition: 2s ease-out;

}
a.Romantique /* lien non survolé */
{
    text-decoration: none;
    color: #000000;
    transition: 2s ease-out;

}
a.Animaux /* lien non survolé */
{
    text-decoration: none;
    color: #000000;
    transition: 2s ease-out;
}

a.Economique:hover /* lien survolé */
{
   text-decoration: underline;
   color: #0065FC;
   transition: 0.5s;
}
a.Familial:hover /* lien survolé */
{
   text-decoration: underline;
   color: #0065FC;
   transition: 0.5s;
}
a.Romantique:hover /* lien survolé */
{
   text-decoration: underline;
   color: #0065FC;
   transition: 0.5s;
}
a.Animaux:hover /* lien survolé */
{
   text-decoration: underline;
   color: #0065FC;
   transition: 0.5s;
}

.footer
{
    background-color: #f2f2f2;
}

.checked {
    color: #0065FC;
    }
.unchecked
    {
    color: #6d6d6d;
    }

.logoMenu
{
    display: flex;
    justify-content: space-between;
}

nav ul
{
    list-style-type: none;
    display: flex;
    font-weight: bolder;

}

nav a
{
    margin-right: 4em;
    text-decoration: none;
}

.hebergements a:focus
{
    color:#0065FC;
    border: solid 0.2em transparent;
    border-top-color: #0065FC;
    padding-top: 1em;
}

.activites a:focus
{
    color: #0065FC;
    border: solid 0.2em transparent;
    border-top-color: #0065FC;
    padding-top: 1em;
}

.inscrire
{
    color: #0065FC;
}



.boutonmarker
{
    background-color: #f2f2f2;
    color: #000000;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em 0em 0em 0.5em;
}

.boutonville
{
    background-color: #f2f2f2;
}

input
{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-color: transparent;
}

.boutonrechercher
{
    background-color: #0065FC;
    color: #FFFFFF;
    border-radius: 0em 0.5em 0.5em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;

}

p a
{
    text-decoration: none;
}